html,
      body {
        height: 100%;
        margin: 0;
      }
      body {
        background-color: #000000;
        font-family: "Open Sans", sans-serif;
        display: flex;
        flex-direction: column; /* Arrange children in a column */
        justify-content: space-between; /* Distribute space between children */
      }
      .wrapper {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        position: relative; /* To position children absolutely */
        width: 100%; /* Full width to allow centering */
        flex: 1; /* Allow wrapper to grow */
      }
      .container {
        text-align: center;
        width: 100%;
        max-width: 400px;
        padding: 20px;
        opacity: 1;
        transition: opacity 0.3s ease;
        position: absolute; /* Position absolutely to overlay */
      }

      .hidden {
        opacity: 0;
        pointer-events: none; /* Prevent interaction when hidden */
      }

      /* Add this to show the container with animation */
      .show {
        opacity: 1;
      }
      form {
        background-color: transparent;
        border: none;
        padding: 2px;
        margin: auto;
      }
      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="submit"] {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 13px;
        background-color: #111111;
        color: #ffffff;
      }
      input[type="submit"] {
        margin: 25px 0;
      }
      input[type="text"]:focus,
      input[type="email"]:focus,
      input[type="password"]:focus {
        outline: none;
      }
      input[type="submit"]:hover {
        background-color: #0c0c0c;
        cursor: pointer;
      }
      .signup {
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
        margin-top: 10px;
        cursor: pointer;
      }
      .signup:hover {
        color: #c0bebe;
      }
      h1,
      h2 {
        color: #ffffff;
      }
      h1 {
        font-size: 22px;
      }
      h2 {
        font-size: 14px;
        text-align: left;
      }
      footer {
        background-color: #111111;
        color: #ffffff;
        text-align: center;
        padding: 10px;
        width: auto; /* Full width for footer */
      }

      @media (max-width: 480px) {
        .container {
          position: fixed;
          top: 40px;
          max-width: 300px;
        }
        h1 {
          font-size: 20px;
        }
        h2 {
          font-size: 14px;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="submit"] {
          padding: 15px;
        }
      }